.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.859863;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{font-family:Times New Roman,sans-serif;font-weight:normal;font-style:normal;line-height:1.313477;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.749512;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.444444,0.000000,0.000000,0.444444,0,0);-ms-transform:matrix(0.444444,0.000000,0.000000,0.444444,0,0);-webkit-transform:matrix(0.444444,0.000000,0.000000,0.444444,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-12.953856px;}
._2{margin-left:-7.569216px;}
._4{margin-left:-4.840096px;}
._0{margin-left:-3.002400px;}
._1{margin-left:-1.409760px;}
._3{width:1.025280px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(4,97,123);}
.fs3{font-size:104.160000px;}
.fs1{font-size:128.160000px;}
.fs2{font-size:128.256000px;}
.fs0{font-size:200.160000px;}
.y0{bottom:0.000000px;}
.y8{bottom:51.754667px;}
.y7{bottom:113.834667px;}
.y6{bottom:188.977778px;}
.y5{bottom:264.071111px;}
.y4{bottom:339.200000px;}
.y3{bottom:400.640000px;}
.y2{bottom:462.115556px;}
.y1{bottom:549.511111px;}
.h4{height:76.645078px;}
.h2{height:129.036094px;}
.h3{height:129.132750px;}
.h1{height:136.534922px;}
.h0{height:720.000000px;}
.w0{width:1280.000000px;}
.x0{left:0.000000px;}
.x1{left:64.000000px;}
.x2{left:76.800000px;}
.x3{left:115.200000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-9.715392pt;}
._2{margin-left:-5.676912pt;}
._4{margin-left:-3.630072pt;}
._0{margin-left:-2.251800pt;}
._1{margin-left:-1.057320pt;}
._3{width:0.768960pt;}
.fs3{font-size:78.120000pt;}
.fs1{font-size:96.120000pt;}
.fs2{font-size:96.192000pt;}
.fs0{font-size:150.120000pt;}
.y0{bottom:0.000000pt;}
.y8{bottom:38.816000pt;}
.y7{bottom:85.376000pt;}
.y6{bottom:141.733333pt;}
.y5{bottom:198.053333pt;}
.y4{bottom:254.400000pt;}
.y3{bottom:300.480000pt;}
.y2{bottom:346.586667pt;}
.y1{bottom:412.133333pt;}
.h4{height:57.483809pt;}
.h2{height:96.777070pt;}
.h3{height:96.849562pt;}
.h1{height:102.401191pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:48.000000pt;}
.x2{left:57.600000pt;}
.x3{left:86.400000pt;}
}
